# Credentials for Grand Lyon WFS API
API_LOGIN=super@bibi.com
API_PASSWORD=wtf2026

# Local PostgreSQL Configuration
POSTGRES_USER=moi
POSTGRES_PASSWORD=moi
POSTGRES_DB=db

# Airflow Admin Credentials (Default)
AIRFLOW_ADMIN_USER=bibi
AIRFLOW_ADMIN_PASSWORD=superbibi

# Fernet Key for Airflow Database encryption (You can generate one using cryptography.fernet.Fernet.generate_key())
AIRFLOW_FERNET_KEY=blablablablabla

# Ngrok Authtoken for exposing local postgres port 5432 to external Google Colab notebooks
NGROK_AUTHTOKEN=your_ngrok_authtoken_here

# Fallback traffic speed configuration (imputation)
LYON_DEFAULT_SPEED=30.0


