version: "3"
agent:
  authtoken: "VOTRE_NGROK_AUTHTOKEN"
tunnels:
  streamlit:
    proto: http
    addr: streamlit:8501
    domain: lyonflow-app.ngrok.io
  airflow:
    proto: http
    addr: airflow-webserver:8080
  postgres:
    proto: tcp
    addr: postgres:5432
  mlflow:
    proto: http
    addr: mlflow:5000
